<!DOCTYPE html>
<html>

<head>

    <title>Home Screen</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>

    <div class="grid-container">

        <header class="row">

            <div>
                <button onclick="openMenu()"> &#9776;</button>
                <a class="brand" href="auction">IPL AUCTION</a>
            </div>

            <div>
                <a href="cart.html">Added Players</a>
                <a href="signin.html">Sign-In</a>
            </div>
        </header>

        <main>

            <div>

                <div class="row center">

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d1.png" alt="player1">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>Virat Kohli</h2>
                            </a>

                            <div class="profile">
                                <h2>Bastmen</h2>
                                <h3>India</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 2,00,00,000</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d2.png" alt="player1">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>MS Dhoni</h2>
                            </a>

                            <div class="profile">
                                <h2>Wicket Keeper</h2>
                                <h3>India</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 2,00,00,000</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d3.png" alt="player3">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>Rohit Sharma</h2>
                            </a>

                            <div class="profile">
                                <h2>Bastmen</h2>
                                <h3>India</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 2,00,00,000</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d4.png" alt="player1">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>Eoin Morgan</h2>
                            </a>

                            <div class="profile">
                                <h2>Bastmen</h2>
                                <h3>England</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 1,50,00,000</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d5.png" alt="player1">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>Steve Smith</h2>
                            </a>

                            <div class="profile">
                                <h2>Bastmen</h2>
                                <h3>Australia</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 1,50,00,000</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <a href="player.html">
                            <img class="medium" src="./images/d6.png" alt="player1">
                        </a>

                        <div class="card-body">

                            <a href="player.html">
                                <h2>David Warner</h2>
                            </a>

                            <div class="profile">
                                <h2>Bastmen</h2>
                                <h3>Australia</h3>
                            </div>

                            <div class="price">
                                <h2>Rs. 2,00,00,000</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <footer>
            <div>All rights reserved.</div>
        </footer>


    </div>
</body>

</html>